.event {
    /* background: url("../../../assets/eventa-cecap-36.jpg") no-repeat center;  */
    overflow: hidden;
    background-size: cover !important;
    color: white;
}
.event > div {
    left: 0;
    width: 100%;
    padding: 5em 0.3em 4em 3.3em;
    text-align: left;
    background-attachment: fixed;
    font-size: 3em;
}
a{
    text-decoration: none;
    color: white;
}
.background{
    background-color: gray;
}