  <div class="content-wrapper">
      <br>
       <div class="content">
         <div class="box box-primary">
           <div class="container ">
               <div [hidden]="submitted">
                   <h1>Registrar Persona</h1>
                   <form (ngSubmit)="guardar()" #addPerson="ngForm" class="jumbotron">
                       <div class="form-group col-sm-8">
                            <div class="form-group col-sm-6" style="text-align: center">
                                    <label for="first_name" class="control-label" >Nombres</label>
                                        <input type="text" pattern="[a-zA-Z]{3,20}[ ]{0,1}[a-zA-Z]{0,20}" class="form-control" id="first_name" 
                                        [(ngModel)]="person.first_name" name="first_name" #firstname="ngModel" required />
                                        <span *ngIf="!firstname.valid && firstname.touched && person.first_name == ''" class="text-alert">
                                                *Nombre requerido.
                                        <br></span>
                                        <span *ngIf="firstname.dirty && firstname.touched && !firstname.valid && firstname.name != '' && person.first_name.length>25 " class="text-alert">
                                        *Nombre invalido excedió el limite de caracteres.
                                        <br></span>
                                        <span *ngIf="!firstname?.pattern && firstname.dirty && firstname.touched && !firstname.valid && person.first_name != '' && person.first_name.length<3 " class="text-alert">
                                        *Nombre invalido tiene menos de 3 caracteres.
                                        <br></span>
                                        <span *ngIf="!firstname?.pattern && firstname.dirty && firstname.touched && !firstname.valid && person.first_name != '' && person.first_name.length < 26 && person.first_name.length > 2 " class="text-alert">
                                        *Nombre invalido no se permiten simbolos.
                                        </span>
                                        <!-- <span *ngIf="!firstname.valid && firstname.touched" class="text-alert">
                                                *Nombre de persona requerido.
                                        </span>
                                        <span *ngIf=" firstname?.pattern && firstname.touched" class="text-alert">
                                            *Nombre inválido
                                    </span> -->
                                    <!-- <div [hidden]="first_name?.valid || first_name?.pristine" class="text-alert">
                                        kjknkasdkjhjask
                                    </div> -->
                                </div>
                                <div class="form-group col-sm-6" style="text-align: center">
                                   <label for="last_name" class="control-label" >Apellidos</label>
                                       <input type="text" pattern="[a-zA-Z]{3,20}[ ]{0,1}[a-zA-Z]{0,20}" class="form-control" id="last_name" 
                                       [(ngModel)]="person.last_name" name="last_name" #lastname="ngModel" required />
                                       <span *ngIf="!lastname.valid && lastname.touched && person.last_name == ''" class="text-alert">
                                            *Apellido requerido.
                                        <br></span>
                                        <span *ngIf="lastname.dirty && lastname.touched && !lastname.valid && lastname.name != '' && person.last_name.length>60 " class="text-alert">
                                        *Apellido invalido excedió el limite de caracteres.
                                        <br></span>
                                        <span *ngIf="!lastname?.pattern && lastname.dirty && lastname.touched && !lastname.valid && person.last_name != '' && person.last_name.length<3 " class="text-alert">
                                        *Apellido invalido tiene menos de 3 caracteres.
                                        <br></span>
                                        <span *ngIf="!lastname?.pattern && lastname.dirty && lastname.touched && !lastname.valid && person.last_name != '' && person.last_name.length < 61 && person.last_name.length > 2 " class="text-alert">
                                        *Apellido invalido no se permiten simbolos.
                                        </span>
                                       <!-- <span *ngIf="!lastname.valid && lastname.touched && lastname?.pattern" class="text-alert">
                                               *Apellido de persona requerido.
                                       </span>
                                       <span *ngIf="lastname?.pattern && lastname.touched" class="text-alert">
                                        *Apellido inválido.
                                </span> -->
                                   <!--<div [hidden]="name?.valid || name?.pristine" class="text-alert">
                                       kjkn
                                   </div>-->
                               </div>
                       </div>
                       <div class="form-group col-sm-8">
                          <div class="form-group col-sm-4">
                              <label for="ci" class="control-label" style="text-align: left" >Cedula de Identidad</label>
                                  <input type="number" pattern="[1-9][0-9]{6}" class="form-control" id="ci" 
                                  [(ngModel)]="person.ci" name="ci" #ci="ngModel" required/>
                                  <span *ngIf="!ci.valid && ci.touched" class="text-alert">
                                          *CI de persona requerido o es invalido.
                                  </span>
                                  <span *ngIf="ci?.pattern && ci.touched" class="text-alert">
                                    *CI de persona es inválido.
                            </span>
                          </div>
                          <div class="form-group col-sm-4">
                              <label for="cellphone" class="control-label" style="text-align: center">Celular</label>
                                  <input type="number" pattern="[6-7][0-9]{7}" class="form-control" id="cellphone" 
                                  [(ngModel)]="person.cellphone" name="cellphone" #cellphone="ngModel" required />
                                  <span *ngIf=" cellphone.touched && person.cellphone == null" class="text-alert">
                                          *Celular de persona requerido.
                                  </span>
                                  <span *ngIf="!cellphone?.pattern && cellphone.touched && !cellphone.valid" class="text-alert">
                                        *Celular de persona inválido.
                                </span>
                                  <!-- <span *ngIf=" cellphone?.pattern && cellphone.touched" class="text-alert">
                                    *Celular de persona inválido.
                                  </span> -->
                          </div>
                          <div class="form-group col-sm-4">
                              <label for="phone" class="control-label" style="text-align: right">Teléfono</label>
                                  <input type="number" pattern="[4][0-9]{6}" class="form-control" id="phone" 
                                  [(ngModel)]="person.phone" name="phone" #phone="ngModel"/>
                                  <span *ngIf="!phone.valid && phone.touched" class="text-alert">
                                          *Telefono de persona requerido o es invalido.
                                  </span>
                                  <span *ngIf="phone?.pattern && phone.touched" class="text-alert">
                                    *Teléfono de persona es inválido.
                                </span>
                          </div>
                      </div>
                      <div class="form-group col-sm-8" >
                          <div class="form-group col-sm-6">
                              <label for="email" class="control-label" style="text-align: left">Correo Electrónico</label>
                                  <input type="email" pattern="[a-zA-Z.0-9_]*[@][a-zA-Z]{3,15}[.][a-zA-Z]{2,15}" class="form-control" id="email" 
                                  
                                  [(ngModel)]="person.email" name="email" #email="ngModel" />
                                  <span *ngIf="!email.valid && email.touched" class="text-alert">
                                          *Email de persona requerido.
                                  </span>
                                  <span *ngIf="email?.pattern && email.touched" class="text-alert">
                                    *Email de persona requerido.
                                  </span>
                          </div>
                        </div>
                        <!-- <div class="form-group col-sm-8" >
                            <div class="form-group col-sm-3">
                                <label for="difinePrice" class="control-label"style="text-align:right" >Precio Definido</label>
                                    <input type="number" pattern="[0-9]{0,5}" class="form-control" id="difinePrice" 
                                        [(ngModel)]="inscription.price_event" name="definePrice" #definePrice="ngModel"/>
                                        <span *ngIf="!definePrice.valid && definePrice.touched" class="text-alert">
                                                    *Precio de definido invalido.
                                        </span>
                                        <span *ngIf="definePrice?.pattern" class="text-alert">
                                            *Invalido Cobro.
                                        </span>
                            </div>
                          <div class="form-group col-sm-3">
                              <label for="monto" class="control-label"style="text-align:right" >Pago Inicial</label>
                                  <input type="number" pattern="[0-9]{0,5}" class="form-control" id="monto" 
                                  [(ngModel)]="inscription.canceled_price" name="monto" #monto="ngModel"/>
                                  <span *ngIf="!monto.valid && monto.touched" class="text-alert">
                                          *Monto Inicial invalido.
                                  </span>
                                  <span *ngIf="monto?.pattern" class="text-alert">
                                            *monto invalido
                                  </span>
                          </div>
                          <div class="form-group col-sm-3">
                                <label for="receipt" class="control-label"style="text-align:right" >Nro Recibo</label>
                                    <input type="text" pattern="[0-9]{0,15}[a-zA-Z]{0,5}" class="form-control" id="receipt" 
                                    [(ngModel)]="inscription.receipt" name="receipt" #receipt="ngModel" required />
                                    <span *ngIf="!receipt.valid && receipt.touched" class="text-alert">
                                            *Numero de Recibo invalido.
                                    </span>
                            </div>
                      </div> -->
                      <div class="form-group col-sm-8">
                          <label for="ocupSelect">
                            <i class="fa fa-tag prefix grey-text"></i>Ocupación</label>
                          <select class="form-control" id="ocupSelect" [(ngModel)]="ocupSelected" (change)="captOcupation()"
                               name="ocupSelect" #ocupSelect="ngModel">
                              <option value="" hidden>Seleccionar...</option>                               
                              <option value="estudiante">Estudiante</option>
                              <option value="profesional">Profesional</option>
                              <option value="particular">Particular</option>                     
                          </select>
                          <div class="form-group col-sm-6">
                            <br>
                            <p *ngIf="ocupSelected == 'estudiante'">
                              <input type="text" pattern="[a-zA-Z]{3,20}([ ]{0,1}[a-zA-Z]{0,20}){0,4}" placeholder="Universidad" name="universidad" #universidad="ngModel" 
                              [(ngModel)]="descOcupation.universidad" class="form-control" />
                              <span *ngIf="!universidad.valid && universidad.touched" class="text-alert">
                                  <h6>*Nombre de Universidad requerido.</h6> 
                              </span>
                            </p>
                            <p *ngIf="ocupSelected == 'estudiante'">
                                <input type="text" pattern="[a-zA-Z]{3,20}([ ]{0,1}[a-zA-Z]{0,20}){0,3}" placeholder="Carrera" name="carrera" #carrera="ngModel"
                                 [(ngModel)]="descOcupation.carrera" class="form-control"/>
                                 <span *ngIf="!carrera.valid && carrera.touched" class="text-alert">
                                    <h6>*Carrera de persona requerido.</h6>
                                 </span> 
                              </p> 
                              <p *ngIf="ocupSelected == 'estudiante'">
                                <input type="text" pattern="[a-zA-Z0-9]{1,20}([ ]{0,1}[a-zA-Z0-9]{0,20}){0,2}" placeholder="Semestre" name="semestre" #semestre="ngModel" 
                                [(ngModel)]="descOcupation.semestre" class="form-control"  /> 
                                <span *ngIf="!semestre.valid && semestre.touched" class="text-alert">
                                    <h6>*Semestre de persona requerido.</h6>
                                </span>
                              </p>
                              <p *ngIf="ocupSelected == 'particular'">
                                <input type="text" pattern="[a-zA-Z]{3,20}([ ]{0,1}[a-zA-Z]{0,20}){0,3}" placeholder="Area de Trabajo" name="areaTrabajo" #areaTrabajo="ngModel" 
                                [(ngModel)]="descOcupation.areaTrabajo" class="form-control"  /> 
                                <span *ngIf="!areaTrabajo.valid && areaTrabajo.touched" class="text-alert">
                                    <h6>*Área de trabajo de persona requerido.</h6>
                                </span>
                              </p> 
                              <p *ngIf="ocupSelected == 'profesional'">
                                <input type="text" pattern="[a-zA-Z]{3,20}([ ]{0,1}[a-zA-Z]{0,20}){0,3}" placeholder="Profesion" name="profesion" #profesion="ngModel"
                                 [(ngModel)]="descOcupation.profesion" class="form-control"  /> 
                                 <span *ngIf="!profesion.valid && profesion.touched" class="text-alert">
                                    <h6>*Profesión de persona requerido.</h6>
                               </span>
                              </p> 
                              <p *ngIf="ocupSelected == 'profesional'">
                                <input type="text" pattern="[a-zA-Z]{3,20}([ ]{0,1}[a-zA-Z]{0,20}){0,3}" placeholder="Empresa" name="empresa" #empresa="ngModel"
                                 [(ngModel)]="descOcupation.empresa" class="form-control"   /> 
                                 <span *ngIf="!empresa.valid && empresa.touched" class="text-alert">
                                    <h6>*Nombre de Empresa requerido.</h6>
                                </span>
                              </p> 
                              <p *ngIf="ocupSelected == 'profesional'">
                                <input type="text" pattern="[a-zA-Z]{3,20}([ ]{0,1}[a-zA-Z]{0,20}){0,3}" placeholder="Cargo" name="cargo" #cargo="ngModel" 
                                [(ngModel)]="descOcupation.cargo" class="form-control"  />
                                <span *ngIf="!cargo.valid && cargo.touched" class="text-alert">
                                    <h6>*Cargo de persona requerido.</h6>
                                </span> 
                              </p>
                            </div>
                      </div>
                      <!-- <div class="form-group col-sm-8">
                              <label for="evento">Evento</label>
                              <select class="form-control" id="evento" [(ngModel)]="IdEvent"
                                      name="evento" #evento="ngModel" required >
                                <option *ngFor="let evento of eventos" [value]="evento._id">{{evento.name}}</option>
                              </select>
                      </div> -->
                       <div class="form-group col-sm-8" style="text-align:center ">
                          <button type="button" class="btn btn-info" (click)="addPerson.reset()">Limpiar</button>
                          <button type="submit" class="btn btn-success" [disabled]="!addPerson.form.valid" >Registrar</button>
                          <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
                          <!-- <button type="button" class="btn btn-danger" (click)="addPerson.reset()">Cancelar</button> -->
                      </div>
                   </form>
               </div>
           </div>
         </div> 
       </div>

   </div>