<div class="topnav" id="myTopnav" style="z-index: 9;">
  <span href="#home" class="logo">
    <img src='../../../assets/logo.png' height="100%" />
  </span>
  <!-- <span class="height:auto;"></span> -->
  <!-- <a href="#"></a>
  <a href="#"></a> -->
  <a (click)="navColor(7)" id="cont" [ngStyle]="{'color': contactanos}">CONTACTANOS</a>
  <a (click)="navColor(6)" [ngStyle]="{'color': interes}">DE MAXIMO INTERES</a>
  <a (click)="navColor(5)" [ngStyle]="{'color': consultorias}">CONSULTORIAS</a>
  <a (click)="navColor(4)" [ngStyle]="{'color': talleres}">TALLERES</a>
  <a (click)="navColor(3)" [ngStyle]="{'color': programas}">PROGRAMAS</a>
  <a (click)="navColor(2)" [ngStyle]="{'color': somos}">QUIENES SOMOS</a>
  <a (click)="navColor(1)" [ngStyle]="{'color': inicio}">INICIO</a>
  <a href="javascript:void(0);" class="icon" (click)="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>