<div class="content-wrapper"> 
    <br>
     <div class="content">
        <h1>Editar Persona</h1>
       <div class="box box-primary">
         <div class="container ">
             <label><h3>{{ person.first_name }} {{person.last_name}}</h3></label>
              <div [hidden]="submitted">
                 <form (ngSubmit)="saveEdition()" #addPerson="ngForm" class="jumbotron">
                     <div class="form-group col-sm-8" style="text-align: center">
                         <label for="first_name" class="control-label" >Nombres</label>
                             <input type="text" pattern="[a-zA-Z]{3,10}[ ]{0,1}[a-zA-Z]{0,10}" class="form-control" id="first_name" 
                             [(ngModel)]="person.first_name" name="first_name" #firstname="ngModel" required />
                             <span *ngIf="!firstname.valid && firstname.touched" class="text-alert">
                                     *Nombre de Persona requerido.
                             </span>
                     
                     </div>
                     <div class="form-group col-sm-8" style="text-align: center">
                        <label for="last_name" class="control-label" >Apellidos</label>
                            <input type="text" pattern="[a-zA-Z]{3,20}[ ]{0,1}[a-zA-Z]{0,20}" class="form-control" id="last_name" 
                            [(ngModel)]="person.last_name" name="last_name" #lastname="ngModel" required />
                            <span *ngIf="!lastname.valid && lastname.touched" class="text-alert">
                                    *Apellido de Persona requerido.
                            </span>
                        <!--<div [hidden]="name?.valid || name?.pristine" class="text-alert">
                            kjkn
                        </div>-->
                    </div>
                    
                    <div class="form-group col-sm-8">
                        <div class="form-group col-sm-4">
                            <label for="ci" class="control-label" style="text-align: left" >Cédula de Identidad</label>
                                <input type="number" pattern="[1-9][0-9]{6}[a-z]{0,1}" class="form-control" id="ci" 
                                [(ngModel)]="person.ci" name="ci" #ci="ngModel" required />
                                <span *ngIf="!ci.valid && ci.touched" class="text-alert">
                                        *CI de persona requerido.
                                </span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="cellphone" class="control-label" style="text-align: center">Celular</label>
                                <input type="number" pattern="[6-7][0-9]{7}" class="form-control" id="cellphone" 
                                [(ngModel)]="person.cellphone" name="cellphone" #cellphone="ngModel" required />
                                <span *ngIf="!cellphone.valid && cellphone.touched" class="text-alert">
                                        *Celular de persona requerido.
                                </span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="phone" class="control-label" style="text-align: right">Teléfono</label>
                                <input type="number" pattern="[4]{1}[0-9]{6}" class="form-control" id="phone" 
                                [(ngModel)]="person.phone" name="phone" #phone="ngModel" />
                                <span *ngIf="!phone.valid && phone.touched" class="text-alert">
                                        *Télefono de persona requerido.
                                </span>
                        </div>
                    </div>
                    <div class="form-group col-sm-8" >
                        <div class="form-group col-sm-6">
                            <label for="email"  class="control-label" style="text-align: left">Correo Electrónico</label>
                                <input type="email" pattern="[a-zA-Z.0-9_-]*[@][a-z]{3,15}[.][a-zA-Z]{2,15}" class="form-control" id="email" 
                                [(ngModel)]="person.email" name="email" #email="ngModel"  />
                                <span *ngIf="!email.valid && email.touched" class="text-alert">
                                        *Email de persona requerido.
                                </span>
                        </div>
                        <!-- observed-->
                    </div>
                    <div class="form-group col-sm-8">
                        <label for="ocupSelect">
                          <i class="fa fa-tag prefix grey-text"></i>Ocupación</label>
                        <select class="form-control" id="ocupSelect" [(ngModel)]="ocupacion" (change)="captOcupation()" name="ocupSelect" #ocupSelect="ngModel"  >
                            <option value="estudiante">Estudiante</option>
                            <option value="profesional">Profesional</option>
                            <option value="particular">Particular</option>                     
                        </select>
                        <div class="form-group col-sm-6">
                          <br>
                          <p *ngIf="ocupacion == 'estudiante'">
                            <input type="text" pattern="[a-zA-Z]{0,20}" placeholder="Universidad" name="universidad" #universidad="ngModel" 
                            [(ngModel)]="descOcupation.universidad" class="form-control"  />
                            <span *ngIf="!universidad.valid && universidad.touched" class="text-alert">
                                <h6>*Nombre de Universidad requerido.</h6> 
                            </span>
                          </p>
                          <p *ngIf="ocupacion == 'estudiante'">
                              <input type="text" pattern="[a-zA-Z ]{0,20}" placeholder="Carrera" name="carrera" #carrera="ngModel"
                               [(ngModel)]="descOcupation.carrera" class="form-control"   />
                               <span *ngIf="!carrera.valid && carrera.touched" class="text-alert">
                                  <h6>*Carrera de persona requerido.</h6>
                               </span> 
                            </p> 
                            <p *ngIf="ocupacion == 'estudiante'">
                              <input type="text" pattern="[a-zA-Z0-9]{0,20}" placeholder="Semestre" name="semestre" #semestre="ngModel" 
                              [(ngModel)]="descOcupation.semestre" class="form-control"  /> 
                              <span *ngIf="!semestre.valid && semestre.touched" class="text-alert">
                                  <h6>*Semestre de persona requerido.</h6>
                              </span>
                            </p>
                            <p *ngIf="ocupacion == 'particular'">
                              <input type="text" pattern="[a-zA-Z]{0,20}[ ]{0,1}[a-zA-Z]{0,20}" placeholder="Area de Trabajo" name="areaTrabajo" #areaTrabajo="ngModel" 
                              [(ngModel)]="descOcupation.areaTrabajo" class="form-control"  /> 
                              <span *ngIf="!areaTrabajo.valid && areaTrabajo.touched" class="text-alert">
                                  <h6>*Área de trabajo de persona requerido.</h6>
                              </span>
                            </p> 
                            <p *ngIf="ocupacion == 'profesional'">
                              <input type="text" pattern="[a-zA-Z]{0,20}[ ]{0,1}[a-zA-Z]{0,20}[ ]{0,1}[a-zA-Z]{0,20}" placeholder="Profesion" name="profesion" #profesion="ngModel"
                               [(ngModel)]="descOcupation.profesion" class="form-control"  /> 
                               <span *ngIf="!profesion.valid && profesion.touched" class="text-alert">
                                  <h6>*Profesión de persona requerido.</h6>
                             </span>
                            </p> 
                            <p *ngIf="ocupacion == 'profesional'">
                              <input type="text" pattern="[a-zA-Z]{0,20}[ ]{0,1}[a-zA-Z]{0,20}[ ]{0,1}[a-zA-Z]{0,20}" placeholder="Empresa" name="empresa" #empresa="ngModel"
                               [(ngModel)]="descOcupation.empresa" class="form-control"   /> 
                               <span *ngIf="!empresa.valid && empresa.touched" class="text-alert">
                                  <h6>*Nombre de Empresa requerido.</h6>
                              </span>
                            </p> 
                            <p *ngIf="ocupacion == 'profesional'">
                              <input type="text" pattern="[a-zA-Z]{0,20}[ ]{0,1}[a-zA-Z]{0,20}[ ]{0,1}[a-zA-Z]{0,20}" placeholder="Cargo" name="cargo" #cargo="ngModel" 
                              [(ngModel)]="descOcupation.cargo" class="form-control"  />
                              <span *ngIf="!cargo.valid && cargo.touched" class="text-alert">
                                  <h6>*Cargo de persona requerido.</h6>
                              </span> 
                            </p>
                          </div>
                    </div>
                    <!-- <div class="form-group col-sm-8">
                            <label for="evento">Evento</label>
                            <select class="form-control" id="evento" [(ngModel)]="IdEvent"
                                    name="evento" #evento="ngModel" required >
                              <option *ngFor="let evento of eventos" [value]="evento._id">{{evento.name}}</option>
                            </select>
                    </div> -->
                     <div class="form-group col-sm-8" style="text-align:center ">
                        <button type="submit" class="btn btn-success" [disabled]="!addPerson.form.valid">Guardar</button>
                        <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
                        <!-- <button type="button" class="btn btn-danger" (click)="addPerson.reset()">Cancelar</button> -->
                    </div>
                 </form>
             </div>
         </div>
       </div> 
     </div>

 </div>
