<div class="content-wrapper">
  <br>
   <div class="">
     <div class="box box-primary">
     
       <div class="container ">
           <div >
               <h1>Registrar Programa</h1>
               <br>
               <form (ngSubmit)="onSubmit()" #addProgram="ngForm" class="jumbotron">
                   <div class="form-group col-sm-8">
                       <label for="name" class="control-label" >Nombre del Programa</label>
                           <input type="text" pattern="[A-Za-zÑ-ñÁ-áÉ-éÍ-íÓ-óÚ-ú0-9 ]{3,42}" class="form-control" id="name" 
                           [(ngModel)]="program.name" name="name" #name="ngModel" required />
                           <span *ngIf="!name.untouched && !name.valid && program.name == ''" class="text-alert">
                            *Nombre de Programa requerido.
                           </span>
                           <span *ngIf="!name?.pattern && name.dirty && name.touched && !name.valid && program.name != '' && program.name.length>43" class="text-alert">
                            *Nombre de Programa inválido, excedió el límite de 42 caracteres.
                           </span>
                           <span *ngIf="!name?.pattern && name.dirty && name.touched && !name.valid && program.name != '' && program.name.length<3" class="text-alert">
                            *Nombre de Programa inválido, tiene menos de 3 caracteres.
                           </span>
                           <!-- <span *ngIf="!name?.pattern && name.dirty && name.touched && !name.valid && program.name != '' && program.name.length<65 && program.name.length>2 " class="text-alert">
                            *Nombre de Programa inválido, no se permiten símbolos.
                           </span> -->
                       <!--<div [hidden]="name?.valid || name?.pristine" class="text-alert">
                           kjkn
                       </div>-->
                   </div>
                   <div class="form-group col-sm-8">
                       <label for="ubicacion" class=" control-label">Detalles</label>
                               <input type="text" pattern="[a-zA-ZÑ-ñÁ-áÉ-éÍ-íÓ-óÚ-ú0-9 .,¿?¡!-]{3,150}" class="form-control" id="ubicacion" 
                                [(ngModel)]="program.description" name="details" #details="ngModel" required >
                               <span *ngIf="!details.valid && details.touched && program.description == ''" class="text-alert">
                                *Detalle de Programa requerido.
                               <br></span>
                               <span *ngIf="details.dirty && details.touched && !details.valid && details.name != '' && program.description.length>150 " class="text-alert">
                                *Detalle de Programa inválido, excedió el límite de 150 caracteres.
                                <br></span>
                               <span *ngIf="!details?.pattern && details.dirty && details.touched && !details.valid && program.description != '' && program.description.length<3 " class="text-alert">
                                *Detalle de Programa inválido, tiene menos de 3 caracteres.
                                <br></span>
                               <!-- <span *ngIf="!details?.pattern && details.dirty && details.touched && !details.valid && program.description != '' && program.description.length<151 && program.description.length>2 " class="text-alert">
                                *Detalle de Programa inválido, use .,¿?¡!- no se permiten otros símbolos.
                               </span> -->
                           <!--<div [hidden]="ubicacion?.valid || ubicacion?.pristine" class="">
                               Ubicacion requerida
                           </div>-->
                   </div>
                   <div class="form-group col-sm-8" style="text-align:center ">
                       <button type="submit" class="btn btn-success" [disabled]="!addProgram.form.valid">Guardar</button>
                       <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
                    </div>
               </form>
           </div>
       </div>
     </div> 
   </div>
</div>