<div id="init" class="program" [ngStyle]="{'background': 'url('+ workshop.photo +') no-repeat center'}">
  <div class="centered">
    <span style="font-size: 0.5em; font-weight:bold;"> {{workshop.line1}} </span>
    <br>
    <span style="font-size: 1em; font-weight:bold;"> {{workshop.line2}} </span>
    <br>
    <span style="font-size: 1em; font-weight:bold;"> {{workshop.name}} </span>
    <br>
    <p style="max-width: 35em;"> {{workshop.description}} </p>
  </div>
</div>

<div class='bg1 padding1 center'>
  <h2 class='sub-title'>Objetivo</h2>
  <div class="padding3" style="max-width: 45em; margin: auto; text-align: justify;"> {{workshop.objective}} </div>
</div>

<div class="cecap-3 padding1 blackBackground" width="4em;">
  <h2 class='sub-title' style="color: white;">Contenido</h2>
  <div class='main-objectives' style="padding-top: 3em; margin-bottom: 0em !important; max-width:none;">
    <div class='objective' style='width: 360px; height:auto;'  *ngFor="let cont of workshop.content">
      <p style='margin:auto; text-align: center; font-size: 1.2em; font-weight: 700; font-family: Raleway;'> {{cont.name}} </p>
      <p style="text-align:center;"> {{cont.description}} </p>
    </div>
  </div>
</div>

<div class='bg1 padding1'>
  <h2 class='sub-title padding1'>Beneficios</h2>
  <div class='main-objectives' style="padding-top: 3em; margin-bottom: 0em !important; max-width:none;">
    <div class='objective' style='width: 250px; height:auto;'  *ngFor="let ben of workshop.benefit">
      <img [src]=ben.photo/>
      <p style='margin:auto; text-align: center; color:#1c3844; font-size: 1.2em; font-weight: 700; font-family: Raleway;'> {{ben.name}} </p>
    </div>
  </div>
</div>