<div class="content-wrapper">
   <br>
   <!-- <app-alerts></app-alerts> -->
   <div class="content">
      <div class="box box-primary">
         <div class="container ">
            <div>
               <h1>Registrar Evento</h1>
               <br>
               <form (ngSubmit)="save()" #addEvent="ngForm" class="">
                  <div class="form-group col-sm-8">
                     <label for="name" class="control-label">Nombre del Evento</label>
                     <!-- pattern="[a-zA-Z]{3,20}[ ]{0,1}[a-zA-Z]{0,20}[ ]{0,1}[a-zA-Z]{0,20}" -->
                     <input type="text" pattern="[a-zA-ZÑ-ñÁ-áÉ-éÍ-íÓ-óÚ-ú0-9]{3,20}[ ]{0,1}[a-zA-ZÑ-ñÁ-áÉ-éÍ-íÓ-óÚ-ú0-9]{0,20}[ ]{0,1}[a-zA-Z]{0,20}" class="form-control" id="name" [(ngModel)]="model.name" name="name" #name="ngModel" required />
                     <span *ngIf="!name.valid && name.touched && model.name == ''" class="text-alert">
                        *Nombre del Evento requerido o nombre invalido.
                        </span>
                        <span *ngIf="!name?.pattern && name.dirty && name.touched && !name.valid && model.name != '' && model.name.length>43" class="text-alert">
                        *Nombre del Evento inválido, excedió el límite de 42 caracteres.
                        </span>
                        <span *ngIf="!name?.pattern && name.dirty && name.touched && !name.valid && model.name != '' && model.name.length<3" class="text-alert">
                        *Nombre del Evento, tiene menos de 3 caracteres.
                        </span>
                     <!--<div [hidden]="name?.valid || name?.pristine" class="text-alert">
                             kjkn
                         </div>-->
                  </div>
                  <div class="form-group col-sm-8">
                     <label for="descripcion" class=" control-label">Descripción</label>
                     <input type="text" pattern="[a-zA-Z .-_:;¿?¡!',0-9Ñ-ñÁ-áÉ-éÍ-íÓ-óÚ-ú]{3,280}" class="form-control" id="descripcion" [(ngModel)]="model.description" name="descripcion"
                        #descripcion="ngModel" required>
                     <span *ngIf="!descripcion.valid && descripcion.touched && model.description == ''" class="text-alert">
                        *Descripción de Evento requerido.
                     </span>
                     <span *ngIf="descripcion.dirty && descripcion.touched && !descripcion.valid && model.description != '' && model.description.length>150 " class="text-alert">
                        *Detalle del Evento inválido, excedió el límite de 150 caracteres.
                        <br></span>
                         <span *ngIf="!descripcion?.pattern && descripcion.dirty && descripcion.touched && !descripcion.valid && model.description != ''&& model.description.length<3 " class="text-alert">
                        *Detalle del Evento inválido, tiene menos de 3 caracteres.
                        <br></span>
                     <!-- <span *ngIf="!descripcion?.pattern && descripcion.dirty && descripcion.touched && !descripcion.valid && descripcion.name != ''" class="text-alert">
                        *Sobrepaso el límite de caracteres.
                     </span>  -->
                     <!--<div [hidden]="descripcion?.valid || descripcion?.pristine" class="">
                                 descripcion requerida
                             </div>-->
                  </div>
                  <div class="form-group col-sm-8">
                        <div class="form-group col-sm-6">
                                <label data-error="wrong" style="text-align:left" data-success="right" for="form8">
                                        <i class="fa fa-calendar prefix grey-text"></i> Inicio</label>
                                <input type="date" pattern="[2]{1}[0]{1}[1-9]{1}[0-9]{1}-[0-9]{2}-[0-9]{2}" id="form34" class="form-control validate" [(ngModel)]="model.date_start" name="fecha" required #date>
                                <!-- "(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d" -->
                        </div>
                        <!-- <div class="form-group col-sm-4">
                                <label for="total" style="text-align:right">Total cupos</label>
                                <input type="number" pattern="[0-9]{0,3}" class="form-control" id="total" [(ngModel)]="model.total" name="total" #total="ngModel"
                                        required>
                                <span *ngIf="!total.valid && total.touched" class="text-alert">
                                        *Total cupo de evento inválido.
                                </span>
                        </div> -->
                  </div>
                  <div class="form-group col-sm-8">
                     <label for="nomPrograma">Programa</label>
                     <select class="form-control" id="nomPrograma" required [(ngModel)]="model.program_id" name="nomPrograma" #nomPrograma="ngModel">
                        <option value="" hidden>Seleccionar un Programa</option>
                        <option *ngFor="let programa of programs" [value]="programa._id">{{programa.name}}</option>
                     </select>
                     <!-- <div [hidden]="offices.valid || offices.pristine" class="">
                                sucursal is required
                        </div> -->
                  </div>
                  <div class="form-group col-sm-8">
                        <label for="nomSucursal">Sucursal</label>
                        <select class="form-control" id="nomSucursal" required [(ngModel)]="model.offices" name="nomSucursal" #nomSucursal="ngModel">
                                <option value="" hidden>Seleccionar una Sucursal</option>
                                <option *ngFor="let s of sucursales" [value]="s._id">{{s.name}}</option>
                        </select>
                  </div>
                  <br>
                  <div class="form-group col-sm-8" style="text-align:center ">
                     <button type="submit" class="btn btn-success" [disabled]="!addEvent.form.valid">Guardar</button>
                     <button type="button" class="btn btn-danger" (click)="cancelar()">Cancelar</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>