<!-- <section class="content-wrapper">
  <div class="content-wrapper">      
    <section class="content">
      
      <div class="md-form">
          <i class="fa fa-pencil prefix grey-text"></i>
          <label data-error="wrong" data-success="right" for="form8">Nombre del Programa</label>
          <input type="text" pattern="[a-zA-Z]{3,20}[ ]{0,1}[a-zA-Z]{0,20}[ ]{0,1}[a-zA-Z]{0,20}" id="form34" class="form-control validate" value="{{programName}}" #name>
      </div>
      <br>
      <div class="md-form">
        <i class="fa fa-comment prefix grey-text"></i>
        <label data-error="wrong" data-success="right" for="form8">Detalles</label>
        <textarea type="text" pattern="[a-zA-Z0-9 ]{3,150}" class="md-textarea form-control" rows="4" value="{{programDetails}}" #details>Detalles</textarea>
        <!--<input type="text" id="form34" class="form-control validate" value="{{programDetails}}" #details>
      </div>

      <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-success" (click)="saveProgram()">Guardar
             <i class="fa fa-paper-plane-o ml-1"></i>
          </button>
          <button class="btn btn-success" (click)="cancel()">Cancelar
            <i class="fa fa-paper-plane-o ml-1"></i>
         </button>
      </div>
  
    </section>
    <router-outlet></router-outlet>
  </div>
</section> -->

<div class="content-wrapper">
  <br>
  <div class="">
    <div class="box box-primary">
      <div class="container">
        <div [hidden]="submitted">
          <h1>Editar Programa</h1>
          <form (ngSubmit)=" saveProgram()" #updateProgram="ngForm" class="jumbotron" >
            <div class="form-group col-sm-8">
                <label for="name">Nombre del Programa</label>
                <input type="text" pattern="[A-Za-zÑ-ñÁ-áÉ-éÍ-íÓ-óÚ-ú0-9 ]{3,42}" class="form-control" id="name" 
                [(ngModel)]="programName" name="name" #name="ngModel" required />
                <span *ngIf="!name.untouched && !name.valid && program.name == ''" class="text-alert">
                *Nombre de Programa requerido.
                </span>
                <span *ngIf="!name?.pattern && name.dirty && name.touched && !name.valid && program.name != '' && program.name.length>43" class="text-alert">
                *Nombre de Programa inválido, excedió el límite de 42 caracteres.
                </span>
                <span *ngIf="!name?.pattern && name.dirty && name.touched && !name.valid && program.name != '' && 3>program.name.length" class="text-alert">
                *Nombre de Programa inválido, tiene menos de 3 caracteres.
                </span>
                <!-- <span *ngIf="!name?.pattern && name.dirty && name.touched && !name.valid && program.name != '' && program.name.length<65 && program.name.length>2 " class="text-alert">
                *Nombre de Programa inválido, no se permiten símbolos.
                </span> -->
            </div>
            <div class="form-group col-sm-8">
                <label for="details">Detalles</label>
                <input type="text" pattern="[a-zA-ZÑ-ñÁ-áÉ-éÍ-íÓ-óÚ-ú0-9 .,¿?¡!-]{3,150}" class="form-control" id="ubicacion" 
                [(ngModel)]="programDetails" name="details" #details="ngModel" required >
                <span *ngIf="!details.valid && details.touched && program.details == ''" class="text-alert">
                *Detalle de Programa requerido.
                <br></span>
                <span *ngIf="details.dirty && details.touched && !details.valid && details.name != '' && program.details.length>150 " class="text-alert">
                *Detalle de Programa inválido, excedió el límite de 150 caracteres.
                <br></span>
                <span *ngIf="!details?.pattern && details.dirty && details.touched && !details.valid && program.details != '' && program.details.length<3 " class="text-alert">
                *Detalle de Programa inválido, tiene menos de 3 caracteres.
                <br></span>
                <!-- <span *ngIf="!details?.pattern && details.dirty && details.touched && !details.valid && program.details != '' && program.details.length<151 && program.details.length>2 " class="text-alert">
                *Detalle de Programa inválido, use .,-¿?¡! no se permiten otros símbolos.
                </span> -->
            </div>
            <div class="form-group col-sm-8" style="text-align:center">
              <button  type="submit" class="btn btn-success" [disabled]="!updateProgram.form.valid">Guardar</button>
              <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>