<div id="init" class="module3" [ngStyle]="{'background': 'url('+ home.somos.inicio.photo +') no-repeat center'}">
  <div class="centered">
    <span style="font-size: 1em; font-weight:bold;"> {{home.somos.inicio.line}} </span>
  </div>
</div>
<div id="uno" class='bg1 padding1'>
    <h2 class="sub-title"> {{home.somos.version.tittle}} </h2>
    <div class='main-objectives' style="padding-top: 3em; margin-bottom: 0em !important; max-width:none;">
          <div class='objective' style='width: 400px; height:auto;'>
                <img [src]=home.somos.version.mision.photo />
                <p style='margin:auto; text-align: center; color:#1c3844; font-size: 1.2em; font-weight: 700; font-family: Raleway;'> {{home.somos.version.mision.name}} </p>
                <p style="text-align:justify;">{{home.somos.version.mision.description}}</p>
          </div>
          <div class='objective' style='width: 400px; height:auto;'>
                <img [src]=home.somos.version.vision.photo />
                <p style='margin:auto; text-align: center; color:#1c3844; font-size: 1.2em; font-weight: 700; font-family: Raleway;'> {{home.somos.version.vision.name}} </p>
                <p style="text-align:justify;">{{home.somos.version.vision.description}}</p>
          </div>
          <div class='objective' style='width: 400px; height:auto;'>
                <img [src]=home.somos.version.valores.photo />
                <p style='margin:auto; text-align: center; color:#1c3844; font-size: 1.2em; font-weight: 700; font-family: Raleway;'> {{home.somos.version.valores.name}} </p>
                <p style="text-align:justify;">{{home.somos.version.valores.description}}</p>
          </div>
    </div>
</div>
<!-- <app-mas-informacion></app-mas-informacion> -->