/* .program {
    overflow: hidden;
    background-size: cover !important;
    color: white;
}
.program > div {
    left: 0;
    width: 100%;
    padding: 5em 0.3em 4em 3.3em;
    text-align: left;
    background-attachment: fixed;
    font-size: 3em;
} */
.background{
    background-color: gray;
}